<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqzl.system.mapper.SysRoleMapper">

    <select id="queryRoleByRoleId" resultType="com.tqzl.system.domain.SysRoleVO">
        select sys_id, role_id, role_name, create_time, last_modified_time, status
        from u_role
        where role_id = #{roleId}
    </select>

    <update id="deleteRoleByRoleId">
        update u_role
        set status = 0
        where role_id = #{roleId} and status = 1;
    </update>

</mapper>